// normalize default styles
@import 'partials/normalize';

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/grid";

// settings
@import 'partials/settings';

// common styles
@import 'partials/layout';
@import 'partials/global';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/gallery';