// normalize default styles
@import 'partials/normalize';

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/grid";
@import "bootstrap/transitions";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/utilities/api";

// settings
@import 'partials/settings';
@import 'partials/mixins';

// common styles
@import 'partials/layout';
@import 'partials/global';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/navbar';
@import 'partials/products';
@import 'partials/about';
@import 'partials/contact';
@import 'partials/footer';