.about {
  @include section-background-relative;
  
  &__title{
    @include section-title;

    &::after{
      @include title-bar;
    }
  }

  &__background {
    @include section-background-absolute;
  }
    
  .container {
    @include container-settings;
  }

  .row {
    justify-content: center;
  }

  .text__wrapper{
    max-width: 55vw;
  }

  p {
    font-size: 34px;
    font-style: italic;
    font-weight: $font-semibold;
    color: $color-light;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-top: 5vh;

    &:last-child {
      text-align: right;
    }
  }
}