*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-text;
  font-size: 11px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-dark;
}

.container {
  max-width: 1140px;
  padding: 0 36px;
  margin: 0 auto;
}

.section__title{ 
  @include section-title;

  &::after{
    @include title-bar;
  }
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}