.header {
  @include section-background-relative;

  &__background {
    @include section-background-absolute;
  }

  &__wrapper {
    text-align: left;
  }

  .container {
    @include container-settings;
  }
}

.row {
  align-items: center;

  &__title {
    flex: 2;
  }
}

.logo {
  color: $color-light;
  text-transform: uppercase;
  letter-spacing: 5px;

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 0;
  }
}

.nav__wrapper {
  font-size: 16px;
  text-align: right;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-grey;
    margin-right: 24px;
    font-weight: $font-regular;
  }
}

.title__wrapper {
  text-align: center;

  h1 {
    color: $color-main;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 14px;

    &:first-child {
      text-align: left;
    }
  }

  &::after{
    @include title-bar;
    width: 20vw;
    margin-top: 34px;
  }
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.btn-one {
  @include button;
}

