.header {
  @include section-background-relative;

  &__background {
    @include section-background-absolute;
  }

  .container {
    @extend .container;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.row {
  align-items: center;

  &__title {
    flex: 2;
  }
}

.title__wrapper {
  text-align: center;

  h1 {
    color: $color-main;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 14px;

    &:first-child {
      text-align: left;
    }
  }

  &::after{
    @include title-bar;
    width: 20vw;
    margin-top: 34px;
  }
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.btn-one {
  @include button;
}
