@mixin section-background-relative {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $color-dark;
  z-index: 0;
}

@mixin section-background-absolute {
  position: absolute;
  opacity: 0.4;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

@mixin container-settings {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin section-title {
  text-align: center;
  position: relative;
  color: $color-main;
  letter-spacing: 5px;    
}

@mixin title-bar {
  position: absolute;
  content: '';
  left: 50%;
  width: 40vw;
  height: 7px;
  transform: translateX(-50%);
  margin-top: 87px;
  background: $color-main; 
}

@mixin title-bar-section {
  position: absolute;
  content: "";
  width: 10vw;
  min-width: 140px;
  height: 7px;
  transform: translate(-110%, 120%);
  background: #bea67c;
}

@mixin icon-most-popular {
  position: absolute;
  display: block;
  content: "";
  background: url(../../images/most-popular.png) no-repeat 0 0;
  background-size: 100%;
  width: 120px;
  height: 120px;
  transform: translate(110%, 20%);
}

@mixin button {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-bottom: 5vh;
  filter: invert(100%);
  cursor: pointer;
  transition: 1s;

  span {
    margin: 0 0 15px 0;
    letter-spacing: 6px;
    font-weight: $font-regular;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
  }

  img {
    height: 50px;
    width: 50px;
  }
}

@mixin form-button {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 0;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-semibold;
  letter-spacing: 5px;
  color: $color-light;
  cursor: pointer;
  border: 2px solid $color-main;
  background-color: $color-main;
}