/* Variables */

$color-main: #bea67c;
$color-light: #fff;
$color-dark: #000;
$color-grey: #95a5a6;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$base-size: 32px;
