.h1 {
  font-family: $font-header;
  font-size: 64px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.h2 {
  font-size: 50px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.h3 {
  font-size: 36px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.h4 {
  font-size: 24px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.h5 {
  font-size: 12px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}
